MTA_Bus_Automated_Camera_Enforcement_Violations__Beginning_October_2019_20250919.csv filter=lfs diff=lfs merge=lfs -text
MTA_Bus_Automated_Camera_Enforcement_Violations__Beginning_2020.csv filter=lfs diff=lfs merge=lfs -text